# 4.B.1: ASSIGNMENT

PROBLEM STATEMENT



Create a database named “employee_management” and create following tables:

Employee: Employee id, Name, DoB, Salary, Department_id

Department: Department id, HOD Name (Note: head of department, will be one of the employees)

Create at least 4 departments and 5 employee entries under each of them. 


Q.1> Apply constraints on the table such that we cannot make an entry to the department table with an employee id that doesn’t exist in the Employee table


Q.2> Write a query to get average salary of employees grouped by their department and show along with department name

Ex:

Department      Average_Salary

Sales                  20000

HR                      40000


Q.3> Write a query to get the list of HODs whose salary is greater than average salary of HODs


Q.4> Write a query to get the names of youngest and oldest HOD along with their age


Q.5> Write a query to get the list of departments where HODs earn at least twice the average salary of the other employees in that department.

CREATE DATABASE employee_management;

USE employee_management;

CREATE TABLE Employee (
  Employee_id INT PRIMARY KEY,
  Name VARCHAR(255),
  DoB DATE,
  Salary INT,
  Department_id INT,
  FOREIGN KEY (Department_id) REFERENCES Department(Department_id)
);

CREATE TABLE Department (
  Department_id INT PRIMARY KEY,
  HOD_Name INT,
  FOREIGN KEY (HOD_Name) REFERENCES Employee(Employee_id)
);


INSERT INTO Department (HOD_Name) VALUES ("Jhansi"), ("rajji"), ("stella"), ("varsha");


INSERT INTO Employee (Name, DoB, Salary, Department_id) VALUES 
  
  ("Jhansi", "1980-01-01", 50000, 1), 
  
  ("Jeevitha", "1985-01-01", 45000, 1), 
  
  ("Bhavana", "1990-01-01", 40000, 1), 
  
  ("Anitha", "1995-01-01", 35000, 1), 
  
  ("Manju", "2000-01-01", 30000, 1),
  
  ("rani", "1980-01-01", 50000, 2), 
  
  ("seetha", "1985-01-01", 45000, 2), 
  
  ("Ram", "1990-01-01", 40000, 2), 
  
  ("Raj", "1995-01-01", 35000, 2), 
  
  ("Deepika", "2000-01-01", 30000, 2),
  
  ("Ganga", "1980-01-01", 50000, 3), 
  
  ("Stella", "1985-01-01", 45000, 3), 
  
  ("Bujji", "1990-01-01", 40000, 3), 
  
  ("Keerthi", "1995-01-01", 35000, 3), 
  
  ("Mounika", "2000-01-01", 30000, 3),
  
  ("Nandhini", "1980-01-01", 50000, 4), 
  
  ("Varun", "1985-01-01", 45000, 4), 
  
  ("Harish", "1990-01-01", 40000, 4), 
  
  ("Vamshi", "1995-01-01", 35000, 4), 
  
  ("Sindhu", "2000-01-01", 30000, 4);
  
  select *from Department;
  
  SELECT *FROM Employee;

1.Apply constraints on the table such that we cannot make an entry to the department table with an employee id that doesn’t exist in the Employee table

ALTER TABLE department
ADD FOREIGN KEY (employee_id) REFERENCES employee(id);

CREATE TABLE Department (
  Department_id INT PRIMARY KEY,
  HOD_id INT,
  FOREIGN KEY (HOD_id) REFERENCES Employee(Employee_id)
);

2.Write a query to get average salary of employees grouped by their department and show along with department name

Ex:

Department      Average_Salary

Sales                  20000

HR                      40000



SELECT department, AVG(salary) AS Average_Salary
FROM employees
GROUP BY department;

3. Write a query to get the list of HODs whose salary is greater than average salary of HODs


SELECT *FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees WHERE designation = 'HOD')
AND designation = 'HOD';

1..The first part of the query selects the name and salary of all employees, and joins the department table to get the department for each employee.

2..The second part of the query uses the WHERE clause to filter the results to only include employees who are HODs. This is done by comparing the employee's ID to the HOD ID in the department table.

3..The third part of the query uses a subquery to calculate the average salary of all HODs. This subquery selects the salary of all employees who are HODs (identified by their ID being listed in the hod_id column in the department table), and calculates the average salary using the AVG function.

4..The final part of the query compares the salary of each HOD to the average salary of all HODs, using the > operator. This filters the result set to only include HODs whose salary is greater than the average salary.