# Python Sets(immutable)

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

# Creating a Set
Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by a ‘comma’.


Sets are written with curly brackets.

In [1]:
# Create a Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [3]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

# Get the Length of a Set
To determine how many items a set has, use the len() function.

In [1]:
# Get the number of items in a set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types
Set items can be of any data type:

In [6]:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [7]:
# A set can contain different data types:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 'abc', 40}

In [8]:
# type()
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [9]:
# Using the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

# Python - Access Set Items

Access Items

You cannot access items in a set by referring to an index or a key.


But you can loop through the set items using a for loop, or ask if a specified 

value is present in a set, by using the in keyword.

In [10]:
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [2]:
thisset = {"apple", "banana", "cherry"}
if "apple" in thisset:
  print("Yes, 'apple' is in the fruits set")

Yes, 'apple' is in the fruits set

In [12]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Python - Add Set Items

Add Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [3]:
# Add an item to a set, using the add() method
thisset = {"apple", "banana", "cherry"}

thisset.add(12)

print(thisset)

{'banana', 'cherry', 12, 'apple'}

# Add Sets
To add items from another set into the current set, use the update() method.

In [15]:
x = {"apple", "banana", "cherry"}
y = {"pineapple", "mango", "papaya"}

x.update(y)

print(x)

{'pineapple', 'apple', 'papaya', 'banana', 'mango', 'cherry'}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [16]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'banana', 'cherry', 'kiwi'}

In [7]:
x={1,2,3,3,4,5,6}
y={"a","b","c"}
x.update(y)
print(x)

{1, 2, 3, 4, 5, 6, 'c', 'a', 'b'}

# Python - Remove Set Items

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [17]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [8]:
# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("apple")

print(thisset)

{'banana', 'cherry'}

In [10]:
# Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry","a","b"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'b', 'apple', 'banana', 'a'}

In [13]:
thisset = {"a","b","c","d","c"}

x = thisset.pop()

print(x)

print(thisset)

c
{'b', 'a', 'd'}

In [11]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# Python - Loop Sets

You can loop through the set items by using a for loop:

In [14]:
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for num in thisset:
  print(num)

banana
cherry
apple

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [22]:
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'a', 'b'}

In [23]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'a', 'b'}

# Python - Set Methods

In [24]:
# Set Methods
# Python has a set of built-in methods that you can use on sets

# Python Set add() Method

In [25]:
# Add an element to the fruits set:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'cherry', 'apple', 'banana'}

In [26]:
# Try to add an element that already exists:
fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'cherry', 'apple', 'banana'}

# Python Set clear() Method

In [27]:
# Remove all elements from the fruits set:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

# Python Set copy() Method

In [29]:
# Copy the fruits set

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'apple', 'banana'}

# Python Set difference() Method

The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [30]:
#Return a set that contains the items that only exist in set x,and not in set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [31]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [32]:
# Reverse the first example. Return a set that contains the
#items that only exist in set y,and not in set x
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

# Python Set difference_update() Method

The difference_update() method removes the items that exist in both sets.

In [33]:
# Remove the items that exist in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

# Python Set pop() Method
The pop() method removes a random item from the set.

In [35]:
# Remove a random item from the set:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'banana'}

In [17]:
x={1,2,3,4}
x.pop()
print(x)`

{2, 3, 4}

In [18]:
y={"a","b","m"}
y.pop()
print(y)

{'m', 'a'}

In [36]:
# Return the removed element:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop() 

print(x)

cherry

In [19]:
x={1,2,3,4,5,"a","x"}
y=x.pop()
print(y)

1

# Python Set remove() Method
The remove() method removes the specified element from the set.

In [37]:
# Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

# Python Set union() Method
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

In [39]:
# Return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'apple', 'banana', 'google', 'cherry'}

In [40]:
# Unify more than 2 sets:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'c', 'f', 'd', 'a', 'e', 'b'}

# Python Set update() Method
The update() method updates the current set, by adding items from another set (or any other iterable).

In [41]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'apple', 'banana', 'google', 'cherry'}

In [1]:
name=input("Enter Student Name : ")

roll_no=int(input("Enter Student Roll no : "))

english=int(input("Enter Marks of english : "))

hindi=int(input("Enter Marks of hindi : "))

maths=int(input("Enter Marks of maths : "))

science=int(input("Enter Marks of science : "))

social=int(input("Enter Marks of social : "))

print("_______________Information Gatherings________________")

print("english : " ,english )

print("hindi : " ,hindi)

print(" maths : ", maths)

print("science: ",science)

print("social: ",social)

per=(((english+hindi+maths+science+social)/500)*100)
if range(1,100):
    print("valid")
else:
    print("invalid")

print("Percentage Of Student is : " ,per)


if per>=36: 
    print('You have passed!') 
else: 
    print('You have failed')

Enter Student Name : ch
Enter Student Roll no : 12
Enter Marks of english : 13
Enter Marks of hindi : 14
Enter Marks of maths : 1
Enter Marks of science : 15
Enter Marks of social : 16
_______________Information Gatherings________________
english :  13
hindi :  14
 maths :  1
science:  15
social:  16
valid
Percentage Of Student is :  11.799999999999999
You have failed