#  Data Types

### 1.Python Program to Calculate the Area of a Triangle area=0.5*b*h, b=base , h=height, take the inputs from user.

In [1]:
b = float(input("Enter the base of the triangle: "))
h = float(input("Enter the height of the triangle: "))
area = 0.5 * b * h
print("The area of the triangle is", area)

Enter the base of the triangle: 12
Enter the height of the triangle: 18
The area of the triangle is 108.0

### 2.Python Program to Generate a Random Number

Here is an example of a Python program that generates a random number between 0 and 1 using the random module:

In [3]:
import random

print(random.random())

0.36306457272870085

If you want to generate random number within a range, you can use the random.randint(a, b) function. It will return a random integer N such that a <= N <= b . Here is an example:

In [5]:
import random

# Generates a random number between 1 and 6
print(random.randint(1, 6))

5

You can also use randrange method, it work similar as randint but the difference is randrange takes only one argument, end of range.

In [7]:
import random

# Generates a random number between 0 and 9
print(random.randrange(10))

4

### 3.Write a python program to calculate the length of a string =”The art of crafting a single sentence brings together subjects, verbs, and objects with cohesion.”

In [9]:
string = "The art of crafting a single sentence brings together subjects, verbs, and objects with cohesion."
length = len(string)
print("The length of the string is:", length)
"""
This program assigns the given string to a variable called string, then uses the len() function to calculate the length of the string and assigns it to a variable called length. Finally,
it prints the length of the string using the print() function.
"""

The length of the string is: 97

'\nThis program assigns the given string to a variable called string, then uses the len() function to calculate the length of the string and assigns it to a variable called length. Finally,\nit prints the length of the string using the print() function.\n'

In [10]:
# You can also use other ways like for loop to 
# traverse through each character and increase the counter.
string = "The art of crafting a single sentence brings together subjects, verbs, and objects with cohesion."
count = 0
for i in string:
    count += 1
print("The length of the string is:", count)

The length of the string is: 97

### 4.Print “are you” from the string my_string = ”Hello Ram Where are you going”

In [14]:
my_string = "Hello Ram Where are you going"
print(my_string[16:23])

are you

In [15]:
start = my_string.find("are you")
end = start + len("are you")
print(my_string[start:end])

are you

### 5.Separate all lower case letters, upper case letters ,special characters & numbers from given string my_string=”ASdfesD@#HBDHB&^GUV%^*H45fdvnhw74w5e54uuU”


Print the given string by the order of given below.

1. Uppercases

2. Lowercases

3. Special Characters

4. Numbers

In [16]:
my_string = "ASdfesD@#HBDHB&^GUV%^*H45fdvnhw74w5e54uuU"
uppercase_letters = ""
lowercase_letters = ""
special_characters = ""
numbers = ""
for char in my_string:
    if char.isupper():
        uppercase_letters += char
    elif char.islower():
        lowercase_letters += char
    elif char.isnumeric():
        numbers += char
    else:
        special_characters += char
print("Uppercase letters:", uppercase_letters)
print("Lowercase letters:", lowercase_letters)
print("Special Characters:", special_characters)
print("Numbers:", numbers)

Uppercase letters: ASDHBDHBGUVHU
Lowercase letters: dfesfdvnhwweuu
Special Characters: @#&^%^*
Numbers: 4574554

# Data Structures

### 1..Write a Python script to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60}

To concatenate the dictionaries dic1, dic2, and dic3, you can use the update() method or the unpacking operator (**) to add the key-value pairs from one dictionary to another. Here is an example of how to concatenate the dictionaries using the update() method:

In [17]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

new_dic = {}
new_dic.update(dic1)
new_dic.update(dic2)
new_dic.update(dic3)
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### 2..Given a Python list. Turn every item of a list into its square aList = [1, 2, 3, 4, 5, 6, 7]

You can use a for loop and the list comprehension to square every item of a list in python. Here is an example:

In [18]:
aList = [1, 2, 3, 4, 5, 6, 7]
new_list = [i**2 for i in aList]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

Another way to do this is by using the map() function which applies a given function to all the items in an input_list and returns a map object which can be converted into a list.

In [19]:
new_list = list(map(lambda x: x**2, aList))
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

In [20]:
# You can also use a for loop to square every item of the list:
for i in range(len(aList)):
    aList[i] = aList[i]**2
print(aList)

[1, 4, 9, 16, 25, 36, 49]

### 3..Remove empty strings from the list of strings:

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

You can use a list comprehension to remove empty strings from the list of strings. Here is an example:

In [21]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1 = [i for i in list1 if i]
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

Another way to do this is by using filter() function which filters out elements from the list for which the given function returns False.

In [22]:
list1 = list(filter(lambda x: x!='', list1))
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [23]:
# You can also use a for loop to remove empty strings from the list:
for i in list1:
    if i=='':
        list1.remove(i)
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

### 4..Access value 20 from the following tuple

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

You can access the value 20 from the tuple aTuple by using the indexing operator [] and the nested indexing. Since the value 20 is inside a list which is the second element of the tuple, you can use the index 1 to access the list and the index 1 again to access the value 20 from the list. Here is an example

In [24]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
value = aTuple[1][1]
print(value)

20

### 5..Given two Python sets, update first set with items that exist only in the first set and not in the second set.

set1 = {10, 20, 30}
set2 = {20, 40, 50}

You can use the difference() method or the - operator to update the first set with items that exist only in the first set and not in the second set. Here is an example:

In [25]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1 = set1 - set2
print(set1)

{10, 30}

Another way to do this is by using the difference_update() method, which removes all elements of another set from this set.

In [26]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

You can also use the symmetric_difference() method or the ^ operator which returns a set with all items from both sets, but not the items present in both sets.

In [27]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1 = set1 ^ set2
print(set1)

{40, 10, 50, 30}